@import "compass";




$list-width: 250px;
$list-bg: #fff;
$list-item-padding: 10px;
$list-item-border: #ccc;
$map-border: #888;
$title-color: #777;
$heading-color: #07c;
$text-color: #666;
$active-item-color: $heading-color;
$active-heading-color: #fff;
$active-text-color: #fff;
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-bg: #eee;




* {
  box-sizing: border-box;
}

body {
  background: $list-bg;
  font-family: $font;
}




#pdx911-map-wrapper {
  position: fixed;
  left:   $list-width;
  right:  0;
  top:    0;
  bottom: 0;
  background: #000;
  border-left: 1px solid $map-border;
}

#pdx911-map {
  height: 100%;
}




#pdx911-header {
  padding: 5px $list-item-padding $list-item-padding $list-item-padding;
  background: $header-bg;
  
  h1 {
    color: $title-color;
    font-size: 36px;
    margin: 0;
  }
  
  p {
    color: $title-color;
    font-size: 12px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: $title-color;
    border-bottom: 1px dotted $title-color;
    
    &:hover {
      color: $heading-color;
      border-color: $heading-color;
    }
  }
}




#pdx911-info {
  width: $list-width;
  
  .pdx911-list-item {
    border-bottom: 1px solid $list-item-border;
    padding: $list-item-padding;
    
    p, time {
      margin-left: $list-item-padding;
    }
  }
}

.pdx911-list-item {
  cursor: pointer;
  font-family: $font !important;
  
  h2 {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 5px 0;
    color: $heading-color;
  }
  
  p {
    margin: 0 5px 0 0;
    font-size: 10px;
    color: $text-color;
  }
  
  time {
    margin: 0;
    font-size: 12px;
    color: $text-color;
    font-weight: bold;    
  }
  
  &.current {
    background: $active-item-color;
    
    h2 {
      color: $active-heading-color;
    }
    
    p, time {
      color: $active-text-color;
    }
  }
  
  &.hidden {
    display: none;
  }
}




#pdx911-gradient {
  background-image:  url('../images/gradient.png');
  background-size:   100% 100%;
  background-repeat: no-repeat;
  @include background-image(linear-gradient(left top, #dc4941, #f1c355));
  overflow-y: auto;

  &:before {
    content: "newer";
    float: left;
    color: #fff;
  }
  
  &:after {
    content: "older";
    float: right;
    color: #333;
  }
  
  &:before, &:after {
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px $list-item-padding;
  }
  
}




#pdx911-filters {
  padding: $list-item-padding;
  border-bottom: 1px solid $list-item-border;
  background: $header-bg;
  
  select {
    width: 100%;
  }
}