/* line 15, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
* {
  box-sizing: border-box; }

/* line 18, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
body {
  background: #f9f9f9; }

/* line 25, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
#pdx911-map-wrapper {
  position: fixed;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  border-left: 1px solid #888888; }

/* line 35, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
#pdx911-map {
  height: 100%; }

/* line 42, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
#pdx911-header {
  padding: 10px;
  background: #666; }
  /* line 46, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  #pdx911-header h1 {
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 5px 0; }
  /* line 53, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  #pdx911-header p {
    color: #eee;
    font-size: 12px;
    margin: 0; }
  /* line 59, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  #pdx911-header a {
    text-decoration: none;
    color: #cef;
    border-bottom: 1px dotted #cef; }
    /* line 64, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
    #pdx911-header a:hover {
      color: #fff; }

/* line 73, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
#pdx911-info {
  width: 250px; }

/* line 77, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
.pdx911-list-item {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  cursor: pointer; }
  /* line 82, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  .pdx911-list-item h2 {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 5px 0;
    color: #0077cc; }
  /* line 89, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  .pdx911-list-item p {
    margin: 0 5px 0 10px;
    font-size: 10px;
    color: #666666; }
  /* line 95, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  .pdx911-list-item time {
    margin: 0 0 0 10px;
    font-size: 12px;
    color: #666666;
    font-weight: bold; }
  /* line 102, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
  .pdx911-list-item.current {
    background: #0077cc; }
    /* line 105, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
    .pdx911-list-item.current h2 {
      color: white; }
    /* line 109, /Users/james/Projects/pdx911/source/stylesheets/app.css.scss */
    .pdx911-list-item.current p, .pdx911-list-item.current time {
      color: white; }
